


.padding{
    clear: both;
}
#doan1 img{
    width: 275px;
    height: 183px;
}
#boss{
    padding:0px 435px ;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    
    padding: 0px 0px 0px 300px;

}
h1{
    font-size: 18px;
}
#doan3 img{
    width: 275px;
    height: 183px;
}
.tieude{
    text-decoration: none;
    color: black;
}
#doan2 img{
    width: 275px;
    height: 183px;




